* {
    font-family: sans-serif;
}

@font-face {
  font-family: "helvetica-download";
  src: url("/fonts/helvetica-lt-light.ttf");
}

h2 { 
  color:slategrey;
  font-size:30px;
  padding: 10px;
  background-color: rgb(115, 170, 180);
  border-radius: 7px;
  color:#1f2f2f;
}

h3 {
  font-size: 20px;
}

.exp {
  font-size: 20px;
  font-weight:bold;
  padding: 0%;
  margin: 0px;
}

.role {
  font-size: 15px;
  padding: 0%;
  margin: 0px;
}

.backtext {
  font-family: helvetica-download;
  position:fixed;
  top: 30%;
  left: 40%;
  z-index: -1;
  font-size: 15vh;
  line-height: 1;
  color:rgb(247, 230, 247);
  width: 50vh;
}

#navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
}

#pagenav{
  font-family: helvetica-download;
  font-size: 40px;
  margin: 0px;
}

#updateMsg{
  display: flex;
  justify-content: center;
  padding: 40px;
  color:slategrey;
  background-color: #d4f0f0;
}

a:link, a:visited {
    text-decoration: none;
    font-size: 20px;
    font-style: normal;
    color: darkslategrey;
    padding: 10px;
    border-radius: 5px;
}

a:hover {
    background-color:blanchedalmond;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
}

.column-layout {
  max-width: 1300px;
  margin: 40px auto 0 auto;
  line-height: 1.65;
  padding: 80px;
}

.side-left{
  /* background-color: aqua; */
  order: 1;
  margin-bottom: 20px;
  box-sizing: border-box;
  flex-basis: 15%;
  background-color: rgb(218, 90, 70);
  height: 400px;
  padding: 30px;
  border-radius: 7px;
}

.side-left *{
  color: #1f2f2f
}

.side-right{
  /* background-color: burlywood; */
  order: 3;
  margin-bottom: 20px;
  box-sizing: border-box;
  flex-basis: 15%;
}

.main-column {
  /* background-color: lightcoral; */
  order: 2;
  margin-bottom: 20px;
  box-sizing: border-box;
  flex-basis: 60%;
}

.wrapper {
    height: 10vh;
    background: #8fcaca;
    /*This part is important for centering*/
    display: grid;
    place-items: center;
  }
  
.typing-demo {
  width: 38ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 20px;
  color:white
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

footer {
  background-color: #d4f0f0;
  display: flex;
  padding: 50px;
  justify-content:left;
  align-items: center;
  height:80px;
}

footer p{
  font-size: 24px;
  color: #5a5a5a;
  padding: 30px;
}

.logo {
  height:20px;
  width: 20px;
  overflow:hidden;
}

#socials {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

#logo, #platform{
  display: flex;
  flex-direction: column;
  padding: 10px
}

#logo a, #platform a{
  padding: 5px;
  border-radius: 5px;
}

@media screen and (min-width: 850px) {
  .column-layout {
    display: flex;
    justify-content: space-between;
    padding: 40px;
  }
  .typing-demo {
    font-size: 30px;
  }
}